In [38]:
#!pip install neo4j

In [39]:
#!pip install bottle

In [ ]:
from bottle import route, run, template

@route('/hello/<name>')
def index(name):
    return template('<b>Здорово {{name}}</b>!', name=name)

run(host='localhost', port=8080)

In [4]:
from neo4j import GraphDatabase


URI = "neo4j://localhost:7687"
AUTH = ("neo4j", "111")


def create_person(tx, name):
    tx.run("CREATE (a:Person {name: $name})", name=name)


def create_friend_of(tx, name, friend):
    tx.run("MATCH (a:Person) WHERE a.name = $name "
           "CREATE (a)-[:KNOWS]->(:Person {name: $friend})",
           name=name, friend=friend)


with GraphDatabase.driver(URI, auth=AUTH) as driver:
    with driver.session() as session:
        session.execute_write(create_person, "Alice")
        session.execute_write(create_friend_of, "Alice", "Bob")
        session.execute_write(create_friend_of, "Alice", "Carl")
        session.execute_write(create_friend_of, "Alice", "Carl")

In [40]:
#!pip3 install pymgclient

In [48]:
import mgclient

In [52]:
# Make a connection to the database
conn = mgclient.connect(host='127.0.0.1', port=7687)
 
# Create a cursor for query execution
cursor = conn.cursor()
sql= """
CREATE (TheMatrix:Movie {title:'The Matrix', released:1999, tagline:'Welcome to the Real World'})
CREATE (Keanu:Person {name:'Keanu Reeves', born:1964})
CREATE (Carrie:Person {name:'Carrie-Anne Moss', born:1967})
CREATE (Laurence:Person {name:'Laurence Fishburne', born:1961})
CREATE (Hugo:Person {name:'Hugo Weaving', born:1960})
CREATE (LillyW:Person {name:'Lilly Wachowski', born:1967})
CREATE (LanaW:Person {name:'Lana Wachowski', born:1965})
CREATE (JoelS:Person {name:'Joel Silver', born:1952})
CREATE (Keanu)-[:ACTED_IN {roles:['Neo']}]->(TheMatrix),
CREATE (Carrie)-[:ACTED_IN {roles:['Trinity']}]->(TheMatrix),
CREATE (Laurence)-[:ACTED_IN {roles:['Morpheus']}]->(TheMatrix),
CREATE (Hugo)-[:ACTED_IN {roles:['Agent Smith']}]->(TheMatrix),
CREATE (LillyW)-[:DIRECTED]->(TheMatrix),
CREATE (LanaW)-[:DIRECTED]->(TheMatrix),
CREATE (JoelS)-[:PRODUCED]->(TheMatrix);
    """
# Execute a query
cursor.execute(sql)
 
# Fetch one row of query results
#row = cursor.fetchone()
 
#print(row[0])
#(:Person {'name': 'John'})
 
#print(row[1])
#[:KNOWS]
 
#print(row[2])
#(:Person {'name': 'Steve'})
 
# Make database changes persistent
conn.commit()

In [33]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('data_test.csv', delimiter=';', 
                 names = ['id_event', 'full_name_event1', 'full_name_event2'])
display(df.info())
display(df)
list(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_event          5001 non-null   object
 1   full_name_event1  5001 non-null   object
 2   full_name_event2  5001 non-null   object
dtypes: object(3)
memory usage: 117.3+ KB

None

,id_event,full_name_event1,full_name_event2
0,id события,ФИО участника события 1,ФИО участника события 2
1,189,Галчевская Карина Владимировна,Белоновская Анастасия Семеновна
2,206,Офицеров Олег Романович,Сапожник Борис Валерьевич
3,445,Жандарова Лариса Германовна,Чемодуров Дамир Русланович
4,503,Масимова Яна Дамировна,Мингажетдинов Рамиль Семенович
...,...,...,...
4996,999333,Осташов Владимир Данилович,Чалов Илья Владимирович
4997,999360,Гандыбина Любовь Александровна,Мерлин Илья Юрьевич
4998,999403,Востоков Виктор Ильдарович,Аликас Никита Андреевич
4999,999405,Огарева Людмила Ильдаровна,Нагайцева Алина Степановна
5000,999878,Ряполовский Георгий Петрович,Жилейкин Виктор Павлович

['id_event', 'full_name_event1', 'full_name_event2']

In [31]:
display(df['id_event'].unique)
display(df['full_name_event1'].unique)
display(df['full_name_event2'].unique)

<bound method Series.unique of 0       id события
1              189
2              206
3              445
4              503
           ...
4996        999333
4997        999360
4998        999403
4999        999405
5000        999878
Name: id_event, Length: 5001, dtype: object>

<bound method Series.unique of 0              ФИО участника события 1
1       Галчевская Карина Владимировна
2              Офицеров Олег Романович
3          Жандарова Лариса Германовна
4               Масимова Яна Дамировна
                     ...
4996        Осташов Владимир Данилович
4997    Гандыбина Любовь Александровна
4998        Востоков Виктор Ильдарович
4999        Огарева Людмила Ильдаровна
5000      Ряполовский Георгий Петрович
Name: full_name_event1, Length: 5001, dtype: object>

<bound method Series.unique of 0               ФИО участника события 2
1       Белоновская Анастасия Семеновна
2             Сапожник Борис Валерьевич
3            Чемодуров Дамир Русланович
4        Мингажетдинов Рамиль Семенович
                     ...
4996            Чалов Илья Владимирович
4997                Мерлин Илья Юрьевич
4998            Аликас Никита Андреевич
4999         Нагайцева Алина Степановна
5000           Жилейкин Виктор Павлович
Name: full_name_event2, Length: 5001, dtype: object>

In [47]:
patt = "(?:{})".format(df["full_name_event2"].replace("", np.nan).dropna().str.lower().str.cat(sep="|"))
df["Result"] = df["full_name_event1"].str.lower().str.contains(patt)
df["Result"].unique

<bound method Series.unique of 0       False
1       False
2       False
3       False
4       False
        ...
4996    False
4997    False
4998    False
4999    False
5000    False
Name: Result, Length: 5001, dtype: bool>